<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Data-Hora</th>
      <th>Editar</th>
      <th>Remover</th>
    </tr>
  </thead>
  <tbody>
        {linha}
        <tr>
          <td>{nome}</td>
          <td>{quantidade}</td>
          <td>{datahora}</td>
          <td>
            <button type="button"
            class = "edit"
            onclick="location.href='?class=Form&method=editar&id={id}'"
            >Editar</button>
          </td>
          <td>
            <button type="button"
            class = "remove"
              onclick="if(confirm('Deseja realmente remover?'))
                location.href='?class=Tabela&method=remover&id={id}'"
              >Remover</button>
          </td>
        </tr>
        {/linha}
      </tbody>
    </table> 
     