
  
<table>
  <thead>
    <tr>
      <th>nome</th>
      <th>quantidade</th>
      <th>datahora</th>
      <th>Editar</th>
      <th>Remover</th>
    </tr>
  </thead>
  <tbody>
    {linha}
    <tr>
      <td>{nome}</td>
      <td>{quantidade}</td>
      <td>{datahora}</td>
      <td>
        <button type="button"
        onclick="location.href='?class=Form&method=editar&id={id}'"
        >Editar</button>
      </td>
      <td>
        <button type="button"
          onclick="if(confirm('Deseja realmente remover?'))
            location.href='?class=Tabela&method=remover&id={id}'"
          >Remover</button>
      </td>
    </tr>
    {/linha}
  </tbody>
</table> 